<div class="sidebar">
  <button type="button" class="btn btn-primary">
    <i class="glyphicon glyphicon-home"></i>
  </button>
  <div class="sidebarInfo">
    <div class="input-group form-search">
      <%= search_form_for @q do |f| %>
        <%= f.text_field :name_cont, placeholder: 'Search Star..', class: "form-control search-query" %>
        <span class="input-group-btn">
          <%= f.submit 'Search', class: "btn btn-primary" %>
        </span>
      <% end %>
    </div>

    <ul class="list-group">
      <li class="list-group-item active">Categories</li>
      <% all_categories.each do |cat| %>
        <li class= "list-group-item">
          <span class="badge badge-default">30</span>
          <%= link_to "#{cat.name}", category_path(:id => cat.id) %>
        </li>
      <% end %>
      <li class="list-group-item">
        <%= link_to 'All Categories..', categories_path %>
      </li>
    </ul>

    <div class="list-group">
      <a href="##" class="list-group-item active">Settings</a>
      <%= link_to "Sign In", user_omniauth_authorize_path(:github), class: "list-group-item" %>
      <%= link_to 'Profile', root_path, class: "list-group-item" %>
      <%= link_to 'Settings', root_path, class: "list-group-item" %>
      <%= link_to 'Log Out', root_path, class: "list-group-item" %>
    </div>
    <div class="list-group">
      <a href="##" class="list-group-item active">Settings</a>
      <%= link_to "Sign In", user_omniauth_authorize_path(:github), class: "list-group-item" %>
      <%= link_to 'Profile', root_path, class: "list-group-item" %>
      <%= link_to 'Settings', root_path, class: "list-group-item" %>
      <%= link_to 'Log Out', root_path, class: "list-group-item" %>
    </div>
    <div class="list-group">
      <a href="##" class="list-group-item active">Settings</a>
      <%= link_to "Sign In", user_omniauth_authorize_path(:github), class: "list-group-item" %>
      <%= link_to 'Profile', root_path, class: "list-group-item" %>
      <%= link_to 'Settings', root_path, class: "list-group-item" %>
      <%= link_to 'Log Out', root_path, class: "list-group-item" %>
    </div>
  </div>
</div>
