<div class="pageHeader">
  <%= image_tag @repo.owner_avatar, class: 'pageHeader-avatar' %>
  <h1 class="pageHeader-title"><%= repository_full_name(@repo) %></h1>
  <div class="pageHeader-desc"><%= @repo.github_description %></div>
</div>

<div class="pageContent">
  <%= render 'note_tab' %>
  <%= render 'note_container' %>
</div>