<div class="info-bar">
  <h1><%= @star.name %></h1>
  <div><%= @star.github_description %></div>
</div>
<div class="description">
  <h3>描述</h3>
  <%= best_in_place @star, :description, type: :textarea %>
</div>
<div class="notes">
  <h3>Note</h3>
  <a href="<%= new_star_note_path(@star) %>">新增</a>
  <ul>
    <% @notes.each do |note| %>
      <li>
        <div><%= link_to note.name, note_path(note) %></div>
        <div><%= markdown(note.content) %></div>
      </li>
    <% end %>
  </ul>
</div>